/*Restart */
*{
    margin: 0;
    padding: 0;
    
}


/*Estilos del header */

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #690201;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}


header h1{
    
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    color: antiquewhite;

}

/*Estilos del main */

main{
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    background-color: black;
    color: whitesmoke;
}

main div img{
    width: 100%;
    object-fit: cover;
}

.titulo {
    grid-row: 1; 
    text-align: center; 
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
}

/* Estilos de Footer */

footer{
    padding: 10px;
    background-color: #690201;
    color: black;
}

/* Estilos de main index */
.contenido {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: row; 
    gap: 10px;
    align-items: center; 
}

.item img {
    width: 150px;
    height: auto;
}

.texto {
    flex: 1;
    margin: 0;
}

@media (max-width: 768px) {
    .contenido-principal .contenido {
        flex-direction: column;
        align-items: center;
    }

    .imagen {
        text-align: center;
    }
}

/* Estilos de Armamentos */

.armamento-grid {
    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr; 
    padding: 0 20px;
}

.titulo {
    grid-row: 1;
    text-align: center; 
    font-size: 2rem;
    color: #f3d83c;
    margin-bottom: 20px;
}

.card-container {
    grid-row: 2; 
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card, .card-magia {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card, .card-magia h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card, .card-magia p {
    font-size: 1rem;
    color: #666;
}

/* Media Query para pantallas mayores de 600px (Tablet) */
@media (min-width: 600px) {
    .armamento-grid {
        grid-template-columns: 1fr; 
    }

    .card-container {
        grid-template-columns: repeat(3, 2fr);
    }
}

/* Estilos de Equipamiento */
.equipamiento-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.equipamiento-lista li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #fff;
}

.equipamiento-lista img {
    width: 80px; 
    height: 80px;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #ccc;
}

.equipamiento-lista h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
    color: #555;
}

.equipamiento-lista p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #666;
}
/* Estilos de Profesion */

.item-profesion{
    list-style: none;
}
/* Estilos de magia */


.card-magia img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
